<%- include('./partials/header.ejs') %>
  <div class="container">
    <div class="row">
      <% if(shows !== null ) { %> 
          <% for (let show of shows){ %>
          <% if (show.show.image == null) continue; %>
            <div class="col-md-3 margin-buffer">
              <div id="middle" class="item border-bottom">
                <a href="/show/<%- show.show.id %>">
                  <img class="rounded img" src="<%- show.show.image.medium %>" alt="<% show.show.name %>">
                </a>
                <p class="img"><%- show.show.language %></p>
              </div>
            </div>
          <% } %>  
      <% } else if(shows === null) { %>
        <%- include('./partials/error_message.ejs') %>
      <% } %>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>