<%- include('./partials/header.ejs') %>
  <div class="container">
    <div id="middle" class="margin-buffer">
      <% if(shows !== null ) { %> 
          <% for (let show of shows){ %>
          <% if (show.show.image == null) continue; %>
          <div class="border-bottom">
              <a href="/show/<%- show.show.id %>">
                <img class="rounded img easeOut" src="<%- show.show.image.medium %>" alt="<% show.show.name %>">
              </a>
              <p class="img"><%- show.show.language %></p>
          </div>
          <% } %>  
        </div>
      </div>
      <% } else if(shows === null) { %>
        <div class="">
          <%- include('./partials/error_message.ejs') %>
        </div>
      <% } %>
<%- include('./partials/footer.ejs') %>